# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Unit test
dbg.c
dbg

# Output files
./common/1_print_numbers/main
./linux_cmd/cat/my_cat
./linux_cmd/ls/my_ls
./linux_cmd/mv/my_mv
./system_programming_concept/socket/unix/basic_stream/u_cli
./system_programming_concept/socket/unix/basic_stream/u_svr
./system_programming_concept/thread/detached_thread/detached_thread
./system_programming_concept/thread/multi_thread/multi_thread
./system_programming_concept/thread/sample_thread/sample_thread
